/* global */

.logo {
  /* position: fixed; */
  top: 5rem;
  left: 10rem;
  width: 57px;
  height: 57px;
  display: block;
  margin: 0 auto;
  padding: 20px 0;
}

.nav-bar {
  text-align: center;
  position: relative;
  left: 31px;

}

.nav-bar li {
  float: none;
  display: inline;
}

.nav-bar ul li a {
  display: inline;
}


.hero-left {
  display: none;

}

.what-we-do h2 {
  text-align: center;
  color: rgba(137, 184, 234, 0.788);
  line-height: 1.9rem;
  position: relative;
  z-index: 43;
  padding-top: 4rem;
  padding-bottom: 2rem;
  font-size: 4rem;
  position: relative;
  top: 15rem;


}

#brand {
  text-align: center;
  padding-bottom: 5rem;
  justify-content: center;
  width: 60%;
  position: relative;
  top: 190px;
  left: 6rem;
  line-height: 3rem;
  color: rgba(0, 0, 0, 0.568);
}

.what-we-do-icons {
  background-image: url("../Images/Icons.png");
  background-repeat: no-repeat;
  background-size: 30%;
  position: relative;
  top: 25rem;
  left: .9rem;
  width: 45rem;
  height: 3vh;
}

.superheroes {
  background-image: linear-gradient(rgba(66, 65, 65, 0.788), rgba(34, 28, 28, 0.788)),
    url("../Images/what-we-d0\ copy.png");
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  top: 10rem;
  width: 100%;
  height: 20rem;
  z-index: 26;
  padding: 0;
}

.superheroes h2 {
  color: rgb(255, 255, 255);
  line-height: 4rem;
  position: relative;
  bottom: 9rem;
}

.btn {
  color: rgba(247, 239, 239, 0.733);
  position: relative;
  bottom: 10rem;
  left: 90rem;
  border: 2px rgb(238, 227, 227) solid;
  border-radius: 4px;
}

.hero-right img {
  width: 20rem;
  height: 20px;


}

.hero-right .ipad {
  position: relative;
  left: 37px;
  z-index: 57;

}

.hero-right .ipad img {
  height: 418px;
  width: 310px;
}


.hero-right .iphone {
  position: absolute;
  left: 150px;
  top: 120px;
  z-index: 61;
  padding-bottom: 40px;
}

.hero-right .iphone img {

  width: 189px;
  height: 399px;

}


.superhero-btn {
  position: relative;
  left: 2rem;

  /* color: rgba(255, 255, 255, 0.541); */

}

.video {
  display: none;
}

.location {
  position: relative;
  top: 20rem;


}

.card {
  display: none;
}


.social-icons ul {
  position: relative;
  right: -112px;
  display: flex;
  padding-bottom: 5px;
  padding-top: 5px;

}

.social-icons ul li {
  position: relative;
  list-style: none;

}

.social-icons ul li a {
  position: relative;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  text-decoration: none;
  font-size: 25px;
  color: white;
}

form {
  padding: 0;
  position: relative;
  bottom: 10px;
}

form h2 {
  left: 7rem;
  padding-top: 25rem;
}

input,
textarea {
  position: relative;
  left: 10rem;

}

input {
  width: 10rem;
}

#info {
  position: relative;
  justify-content: center;
  text-align: center;
  padding: 10px 10px;
  font-size: 12px;

}

#namefield {
  padding: 5px 15px 5px 10px;
  position: relative;
  left: 20px;

}

#customerEmail {
  padding: 5px 0 5px 10px;
  position: relative;
  left: 50px;
  margin-bottom: 2rem;

}

#superpower {
  padding: 5px 250px 5px 10px;
  position: relative;
  text-align: left;
  left: 10px;
  margin-bottom: 2rem;
}

#message {
  position: relative;
  left: 1rem;
  width: 350px
}

#submit {
  padding: 3px;
  cursor: pointer;
  background-color: transparent;
  border-radius: 2px;
  position: relative;
  left: 20rem;
  background-color: red;
}

footer {
  padding: 1.5rem 0;
  background-color: rgb(137, 184, 234);
  text-align: center;
  color: #fff;
  font-size: 1rem;
}
