/* global stylings */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-family: 'Merriweather';
  font-size: 0.8rem;
  color: black;
  position: relative;
  min-height: 100vh;
  box-sizing: border-box;
  overflow-x: hidden;
}
p {
  font-size: 1.6rem;
}
section {
  padding: 5rem 0;
}

/* Header Elements */

.container {
  background-image: radial-gradient(rgba(137, 184, 234, 0.788), rgba(137, 184, 234, 0.788)),
    url("../Images/header-image.png");
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  height: 90vh;
}

.logo {
  position: relative;
  top: 1rem;
  left: 20rem;
  width: 57px;
  height: 57px;
}

/* navigation */
nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}

.nav-bar {
  width: 20rem;
  min-height: 8vh;
  position: relative;
  top: 0rem;
  right: 40rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 1500;
  transition: all 650ms ease-in-out;
}

.nav-bar ul {
  margin: 0.5rem 0;
  display: flex;
}

.nav-bar ul li {
  color: #fff;
  list-style-type: none;
  padding: 2rem;
  font-size: 1.5rem;
  text-transform: uppercase;
}
.main-heading {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}

.hero-left {
  width: 100%;
  max-width: 30rem;
  position: relative;
  left: 30rem;
  top: 10rem;


}

.hero-left h1 {
  font-size: 3.5rem;
  font-weight: 300;
  max-width: 30rem;
  padding-bottom: 1rem;
  color: rgb(255, 255, 255);
  position: relative;
  z-index: 52;

}

.hero-left h1 span {
  font-weight: 700;
}

.hero-left p {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.664);
  line-height: 1.9;
  width: 530px;
  height: 190px;
  z-index: 54;
  margin-bottom: 30px;
  margin-bottom: 55px;
}

.btn {
  font-family: "Helvetica";
  font-size: 20px;
  color: rgba(255, 255, 255, 0.733);
  line-height: 1.8;
  padding: 5px 50px;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: 2px #fff solid;
  cursor: pointer;
  z-index: 55;
}

.hero-right {
  position: relative;
  width: 50%;
  max-width: 70rem;
  top: 120px;

}

.hero-right .ipad {
  position: relative;
  left: 97px;
  z-index: 57;
}

.hero-right .ipad img {
  height: 618px;
  width: 410px
}

.hero-right .iphone {
  position: absolute;
  left: 350px;
  top: 220px;
  z-index: 61;
  padding-bottom: 40px;
}

.hero-right .iphone img {

  width: 189px;
  height: 399px;

}
